[Desktop Entry]
Type=Application
Name=NT-USB+ Control
Comment=Settings and audio processing of the RØDE NT-USB+
Exec=nt-usb-plus-on-linux
Icon=nt-usb-plus-on-linux
Categories=AudioVideo;Audio;Settings;
StartupWMClass=nt-usb-plus-on-linux
Terminal=false
